USE [master]
GO
/****** Object:  Database [Personajes]    Script Date: 26/4/2023 10:39:10 ******/
CREATE DATABASE [Personajes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Personajes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Personajes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Personajes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Personajes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Personajes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Personajes]
GO
/****** Object:  User [alumno]    Script Date: 26/4/2023 10:39:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 26/4/2023 10:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[idPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](50) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha_de_creacion] [datetime] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Personajes_asociados] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[idPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 26/4/2023 10:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[idPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [int] NOT NULL,
	[Historia] [varchar](50) NOT NULL,
	[PeliculasSeriesAsociadas] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[idPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relacion]    Script Date: 26/4/2023 10:39:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacion](
	[iDPelicula] [int] NOT NULL,
	[iDPersonajes] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([idPelicula], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion], [Personajes_asociados]) VALUES (1, N'ShrekPeli.jpg', N'Shrek', CAST(N'2001-07-19T00:00:00.000' AS DateTime), 5, N'Shrek')
INSERT [dbo].[Pelicula] ([idPelicula], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion], [Personajes_asociados]) VALUES (4, N'LosIncreibles.jpg', N'Los increibles', CAST(N'2004-12-02T00:00:00.000' AS DateTime), 3, N'Dash,Mr.Increible')
INSERT [dbo].[Pelicula] ([idPelicula], [Imagen], [Titulo], [Fecha_de_creacion], [Calificacion], [Personajes_asociados]) VALUES (5, N'Phineas_y_ferb.jpg', N'Phineas_y_ferb', CAST(N'2007-08-17T00:00:00.000' AS DateTime), 3, N'Perry')
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

INSERT [dbo].[Personajes] ([idPersonaje], [imagen], [Nombre], [Edad], [Peso], [Historia], [PeliculasSeriesAsociadas]) VALUES (1, N'shrek.jpg', N'Shrek', 42, 250, N'tfcgvhjklsagiuas', N'Shrek')
INSERT [dbo].[Personajes] ([idPersonaje], [imagen], [Nombre], [Edad], [Peso], [Historia], [PeliculasSeriesAsociadas]) VALUES (2, N'MrIncreible.jpg', N'Mr.Increible', 35, 120, N'sgudbiuabsdoihsa', N'Los_increibles')
INSERT [dbo].[Personajes] ([idPersonaje], [imagen], [Nombre], [Edad], [Peso], [Historia], [PeliculasSeriesAsociadas]) VALUES (3, N'sullivan.jpg', N'Sullivan', 25, 527, N'asduysauobasi', N'Monsters.inc')
SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
ALTER TABLE [dbo].[Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Pelicula] FOREIGN KEY([iDPelicula])
REFERENCES [dbo].[Pelicula] ([idPelicula])
GO
ALTER TABLE [dbo].[Relacion] CHECK CONSTRAINT [FK_Relacion_Pelicula]
GO
ALTER TABLE [dbo].[Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Personajes] FOREIGN KEY([iDPersonajes])
REFERENCES [dbo].[Personajes] ([idPersonaje])
GO
ALTER TABLE [dbo].[Relacion] CHECK CONSTRAINT [FK_Relacion_Personajes]
GO
USE [master]
GO
